<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title></title>
  </head>
  <style>
        body {
            background-image: url("/static/background/leaf3.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
</style>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12"><br><br>
          <center><h1 style="text-align: center;color:yellowgreen;font-family : Stencil Std; text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000">Affected plant leaf image</h1></center>
        </div>
      </div><br><br>
      <div class="col-lg-12">
        <center>
          <form class="form-inline" action="/predict2" method="post" enctype="multipart/form-data" style="height: 40px; width:100%">
            <input type="file" name="file"/><br><br>
            <input type="submit" class="btn btn-success" value="Predict" style="
            height: 40px;
            width: 7%;
            color:black;
            background:yellowgreen;
            border-radius: 5px;
            padding: 0 10px;
            margin-top: 30px;
            font-size: 16px;
            font-weight: bold">
          </form>
        </center>
      </div>
    </div>
  </body>
</html>
