<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
        body {
            background-image: url("/static/background/leaf2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
</style>

<body>

<div class="col-lg-12">

    <center>
        <br><br><h1 style="text-align: center;color:yellowgreen;font-family : Stencil Std; text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000">Choose your plant</h1>
        <form>
            <select name="category" style="
    height: 40px ;
    width: 15%;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300">
                <option value="Rice and Potato">Rice and Potato</option>
                <option value="Jackfruit and Strawberry">Jackfruit and Strawberry</option>
                <option value="Corn and Tomato">Corn and Tomato</option>
            </select><br>
            <input type="submit" value="Submit" style="
            height: 40px;
            width: 7%;
            background:yellowgreen;
            border-radius: 5px;
            padding: 0 10px;
            margin-top: 30px;
            font-size: 16px;
            font-weight: bold">
        </form>
    </center>


<a style="position: absolute; top:120px; right: 84px ;
  background-color: forestgreen;
  color: white;
  padding: 14px 25px;
  text-align: center;
  font-weight : 400
  display: inline-block;" href="/farmersite">Talk With Expert</a><br>
</div>
</body>
</html>
