<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h1 style="text-align:center;color:black;font-size:50px;">Mr. Agri Healer </h1>
 <style>
        body {
            background-image: url("/static/background/home.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            font-size : 20px;
            text-align: center;
        }
    </style>
<center>
    <h1>
    <a style="color:darkgreen; " href="/login">Login</a><br>
    </h1>
    <h1>
    <a style="color:darkgreen;" href="/reg">Registration</a><br>
    </h1>
</center>
<body style="font-size: 30px;">

    The application allows users to upload images of plant leaves or other
    plant parts that may be affected by disease.
    The image is then processed by a machine learning model, which analyzes the image and classifies it into one of
    several possible disease categories.

</body>
</html>