<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<h1 style="text-align: center;color:yellowgreen;font-family : Stencil Std; font-size : 50px">Login</h1>
<style>
        body {
            background-image: url("/static/background/leaf.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
</style>
<body>
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-12 text-center">


                <form action="#" method="post">
                <label style="font-size:28px; color: white">Username</label>
                <input style="
    height: 40px;
    width: 20%;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300;" type="text" name ="username" required><br><br>
                <label style="font-size:28px ; color: white">Email</label>
                <input style="
    height: 40px;
    width: 20%;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300" type="email" name="email" required><br><br>
                <label style="font-size:28px ; color: white">Password</label>
                <input style="
    height: 40px;
    width: 20%;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300" type="password" name="password"  required><br><br>
                     <label style="font-size:28px ; color: white">Category</label>
                <select name="category" style="
    height: 40px ;
    width: 15%;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300">
                    <option value="Farmer">Farmer</option>
                    <option value="Expert">Expert</option>
                </select><br><br>

                <input style="
    font-family:Constantia;
    background:yellowgreen;
    font-size:16px;
    height: 40px;
    width: 7%;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold" type="submit" value="login" >
               </form>
        </div>
    </div>
</div>
</body>
</html>
